@font-face 
{
  font-family: UNCTitle;
  src: url('fonts/Aleo.ttf');
}
@font-face 
{
  font-family: UNCText;
  src: url('fonts/OpenSans.ttf');
}
:root
{
  --UNC-Blue:#013c65;
  --UNC-Gold: #f6b000;
  --UNC-Gray: #8a8a8d;
}
*
{
    font-family: UNCText;
    color: white;
}
h1, h2, h3, h4, h5
{
    font-family: UNCTitle;
    color: var(--UNC-Blue);
    clear: both;
    font-size: 35px;
}
a:link 
{
    color: white;
}
a:visited 
{
    color: var(--UNC-Gold);
}
a:hover
{
    color:var(--UNC-Blue);
}
body
{
  background-color: var(--UNC-Gray);
}
img
{
  float: left;
  border: 2px solid white;
  margin: 12px;
  padding: 12px;
  border-radius: 25%;
}