@font-face 
{
  font-family: 'Times New Roman', Times, serif;
  src: url('fonts/Aleo.ttf');
}
@font-face 
{
  font-family: 'Times New Roman', Times, serif;
  src: url('fonts/OpenSans.ttf');
}
*
{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
h1, h2, h3
{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    clear: both;
    font-size: 35px;
}
h4
{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    clear: both;
    font-size: 20px;
}
a:link 
{
    color: black;
}
a:visited 
{
    color: brown;
}
a:hover
{
    color:green;
}
body
{
  background-color: lightgreen;
}
img
{
  float: left;
  border: 2px solid white;
  margin: 8px;
  padding: 8px;
  border-radius: 25%;
}
#searchbox
{
  width: 300px;
}
input, select, option
{
  color:gray;
  background-color: gray;
}
table, th, td
{
  border: 2px solid;
  border-color:black;
  border-collapse: collapse;
  background-color: lightblue;
}